<div class="d-flex flex-column  align-items-center mb-3 ">
  <div class="p-2 mt-3"><h3>Successful!Use the link below!</h3></div>
  <div class="p-2" id="generatedURL"><a href="/{{urlcode}}">http://localhost:3000/{{urlcode}}</a></div>
  <div class="p-2"><i class="fa-regular fa-copy mb-1" onclick="copy()"></i></div>
</div>

<script>
  function copy() {
    const URL = document.getElementById("generatedURL")
    navigator.clipboard.writeText(URL.innerText)
      .then(() => alert('copied'))
      .catch(error => console.log(error))
  }
</script>